<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.songbai.futurex">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>

    <!--Dangerous permission-->
    <uses-permission android:name="android.permission.CAMERA"/>
    <uses-permission android:name="android.permission.VIBRATE"/>
    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>

    <!--Wrap used also dangerous permission-->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_LOCATION_EXTRA_COMMANDS"/>

    <application
        android:name=".App"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <!--全屏幕-->
        <meta-data
            android:name="android.max_aspect"
            android:value="2.2"/>
        <meta-data
            android:name="android.notch_support"
            android:value="true"/>
        <meta-data
            android:name="UMENG_APPKEY"
            android:value="${UMENG_APP_KEY}"/>
        <meta-data
            android:name="UMENG_CHANNEL"
            android:value="${UMENG_CHANNEL}"/>
        <meta-data
            android:name="UMENG_MESSAGE_SECRET"
            android:value="a1eddf08c530b6109ffed1b516e3934e"/>

        <activity
            android:name=".wxapi.WXEntryActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:exported="true"
            android:theme="@android:style/Theme.Translucent.NoTitleBar"/>
        <activity
            android:name="com.umeng.facebook.FacebookActivity"
            android:configChanges="keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:label="@string/app_name"
            android:theme="@android:style/Theme.Translucent.NoTitleBar">
            <meta-data
                android:name="com.facebook.sdk.ApplicationId"
                android:value="@string/facebook_app_id"/>
        </activity>
        <activity
            android:name="com.umeng.socialize.editorpage.ShareActivity"
            android:excludeFromRecents="true"
            android:theme="@android:style/Theme.NoTitleBar"
            />
        <activity
            android:name="com.umeng.socialize.handler.TwitterWebActivity"
            android:configChanges=
                "keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:label="@string/app_name"
            android:theme="@android:style/Theme.Translucent.NoTitleBar"/>

        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="${applicationId}.fileProvider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths"/>
        </provider>

        <activity
            android:name=".activity.SplashActivity"
            android:theme="@style/AppTheme.Splash">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.MainActivity"
            android:configChanges="locale"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden|adjustPan"/>
        <activity
            android:name=".activity.CrashInfoActivity"
            android:configChanges="orientation|keyboardHidden|screenSize|locale"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".activity.UniqueActivity"
            android:configChanges="screenSize|orientation|keyboardHidden"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".activity.auth.LoginActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".activity.auth.RegisterActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".activity.mine.PersonalDataActivity"
            android:configChanges="screenSize|orientation|keyboardHidden"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".activity.mine.ModifyNickNameActivity"
            android:configChanges="screenSize|orientation|keyboardHidden"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".activity.mine.ClipHeadImageActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".activity.ImagePreViewActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".activity.ImageSelectActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".activity.LookBigPictureActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".activity.mine.MyPropertyActivity"
            android:configChanges="screenSize|orientation|keyboardHidden"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan|stateAlwaysHidden"/>
        <activity
            android:name=".activity.mine.InviteActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".activity.mine.PropertyFlowActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".activity.mine.SetGesturePwdActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".fragment.mine.MessageCenterActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".activity.LegalCurrencyOrderActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".activity.CustomServiceActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden|adjustResize"/>

        <activity
            android:name=".activity.OtcOrderCompletedActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".activity.OtcTradeChatActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustUnspecified|stateHidden"/>
        <activity
            android:name=".activity.mine.SafeActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".activity.mine.TradeOrdersActivity"
            android:screenOrientation="portrait"/>

        <activity
            android:name=".activity.WebActivity"
            android:screenOrientation="portrait"/>

        <service android:name=".service.UmengNotificationService"/>
        <service android:name=".service.MyNotificationService"/>
        <service android:name=".service.SocketPushService"/>

        <receiver android:name=".service.NotificationBroadcast"/>

        <service android:name=".service.DownloadService"/>

        <!--Wrap-->
        <activity
            android:name=".wrapper.WrapMainActivity"
            android:screenOrientation="portrait"/>

        <activity
            android:name=".wrapper.TrainingDetailActivity"
            android:screenOrientation="portrait"/>

        <activity
            android:name=".wrapper.JudgeTrainingActivity"
            android:screenOrientation="landscape"/>

        <activity
            android:name=".wrapper.TrainingCountDownActivity"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:screenOrientation="portrait"/>

        <activity
            android:name=".wrapper.TrainingResultActivity"
            android:screenOrientation="portrait"/>

        <activity
            android:name=".wrapper.WrapLoginActivity"
            android:screenOrientation="portrait"/>

        <activity
            android:name=".wrapper.FeedbackActivity"
            android:screenOrientation="portrait"/>

        <activity
            android:name=".wrapper.ProfileActivity"
            android:screenOrientation="portrait"/>

        <activity
            android:name=".wrapper.ModifyUserNameActivity"
            android:screenOrientation="portrait"/>

        <activity
            android:name=".wrapper.WrapClipHeadImageActivity"
            android:screenOrientation="portrait"/>

        <activity
            android:name=".wrapper.Location2Activity"
            android:screenOrientation="portrait"/>

        <activity
            android:name=".wrapper.ImageAuthCodeActivity"
            android:screenOrientation="portrait"
            android:theme="@style/BaseDialog"/>

        <activity
            android:name=".wrapper.SettingActivity"
            android:screenOrientation="portrait"/>

        <activity
            android:name=".wrapper.MarketDetailActivity"
            android:screenOrientation="portrait"/>

        <activity
            android:name=".activity.SingleTradeActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".newotc.Otc365FilterWebActivity"
            android:screenOrientation="portrait"/>

        <activity
            android:name=".zxing.activity.CaptureActivity"
            android:screenOrientation="portrait"/>
    </application>
</manifest>